body{
    background-image: url("../content/pictures/backgroungrecipe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
}
input{
    text-align: center;
    background-color: antiquewhite;
    color: black;
}
button{
    background-color: antiquewhite;
    border: none;
}
text{
    color: black;
}