@import url(https://fonts.googleapis.com/css?family=Raleway);


body {
    background-image: url("../../static/content/pictures/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height:100vh;
}

* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #F7F4EF;
    color: #ff1651;
    height: 60px;
    padding: 1em;
}

.top-nav img{
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: black solid 2px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.menu > li a {
    text-decoration: none;
    color: #ff1651;

}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #ff1651;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.menu > li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff1651;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.menu > li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 700px) {
    .top-nav img{
        display: none;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #ff1651;
        background-color: #F7F4EF;
    }

    .menu > a {
        text-decoration: none;
        color: #ff1651;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}

.site-footer {
    width: 100%;
    background: #F7F4EF;
    font-size:15px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5;

}

.site-footer h6 {
    color:#ff1651;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a {
    color:#000000;
    text-decoration:none;
}

.top-footer {
    padding: 20px 0px 20px 30px;
    list-style:none;

}

.top-footer li {
    padding-top: 20px;
    display:block
}

.top-footer a:focus,.top-footer a:hover {
    color:#ff1651;
    text-decoration:none;
}

.top-footer.inline li {
    display:inline-block
}


.bottom-footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}
@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom:30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom:0
    }

    .site-footer .copyright-text,.site-footer .social-icons {
        text-align:center;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
