.container {
    -moz-column-count:3;
    -moz-column-gap: 1%;
    -moz-column-width: 32%;
    -webkit-column-count:3;
    -webkit-column-gap: 1%;
    -webkit-column-width: 32%;
    column-count: 3;
    column-gap: 1%;
    column-width: 32%;
}

.card {
    text-align: center;
    color: wheat;

    font-size: 2em;
    width: 100%;

    height:fit-content;
    position: relative;

    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 2%;
}

.card-img {
    width:100%;
}

.card-info {
    background-color: rgba(255, 255, 255);
    width:100%;
    position: absolute;
    height:0%;
    bottom: 0;
}

.card:hover .reveal{
    height:fit-content;
    transition: 1s ease-in-out;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 15px;
}