.signup {
    width:50%;
    padding: 30px;
    margin: auto;
    border: 1px solid #f1f1f1;
    background: #fff;
    border-radius: 1rem;
}

input[type=email], input[type=text], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input::file-selector-button {
    background-color: #EEA849FF;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em;
    cursor: pointer;
}

input[type=submit] {
    background-color: #EEA849FF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #f17555;
    color: white;
    cursor: pointer;
}

.menu-container{
    position: relative;
}