<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
      <label for="Ingredient">Ingrédient :</label><br>
      <input type="text" id="Ingredient" name="Ingredient" value=""><br><br>
      <label for="Ingredient1">Ingrédient 1:</label><br>
      <input type="text" id="Ingredient1" name="Ingredient1" value=""><br><br>
      <div id="container">
      </div>
      <button type="button" value="addFields" onclick="addFields()">Ajouter un champs</button>

      <input type="submit" value="Submit">
    </form>
    <script>
      var counter = 1;
      function addFields() {
        counter++;
        var newElement = document.createElement("div");
        newElement.innerHTML = "<label for='Ingredient" + counter + "'>Ingrédient " + counter + " :</label><br><input type='text' id='input" + counter + "' name='input" + counter + "'><br><br>";
        container.appendChild(newElement);
      }
    </script>
  </body>
</html>